{% extends 'base.html' %}

{% block content %}
    <h1>Add Customer</h1>
    <form method="POST" action="{{ url_for('customer.add_customer') }}">
    {% for key, value in customer.items() %}
        {% if key != 'id' and key != 'links' %}
            <div class="form-group">
                <label for="{{ key }}">{{ key|title }}</label>
                <input type="text" class="form-control" id="{{ key }}" name="{{ key }}" value="{{Nothing}}">
            </div>
        {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary">Add</button>
</form>
    <a href="{{ url_for('customer.add_customer') }}" onclick="return confirm('Are you sure you want to cancel this Customer?')">Cancel Customer</a>
{% endblock %}