<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{pdata.title}}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 5rem;
            margin-bottom: 60px; /* This pushes the content up to make room for the footer */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">Car Rental</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mx-auto justify-content-center">
                 <li class="nav-item">
                    <a class="nav-link  text-white px-3 " href="/car/add"> Add Car</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link  text-white px-3 " href="/customer/add"> Add Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-white px-3 " href="/">Cars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white px-3" href="/customers">Customers</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link text-white px-3" href="/rentals">Rentals</a>
                </li>
            </ul>

        </div>
<ul class="navbar-nav ml-auto">
    {% if page_data.login_status %}
        <li class="nav-item">
            <span class="nav-link">WebWolf</span>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
        </li>
    {% endif %}
</ul>
    </nav>

    <div class="container">
        {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
        {% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
