{% extends 'base.html' %}

{% block content %}
    <h1>Edit Customer: {{ customer.name }} {{ customer.surname }}</h1>
    <form method="POST" action="{{ url_for('customer.edit_customer', customer_id=customer.id) }}">
    {% for key, value in customer.items() %}
        {% if key != 'id' and key != 'links' %}
            <div class="form-group">
                <label for="{{ key }}">{{ key|title }}</label>
                <input type="text" class="form-control" id="{{ key }}" name="{{ key }}" value="{{ value }}">
            </div>
        {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary">Update</button>
</form>
    <a href="{{ url_for('customer.delete_customer', customer_id=customer.id) }}" onclick="return confirm('Are you sure you want to delete this customer?')">Delete Customer</a>
{% endblock %}