{% extends 'base.html' %}

{% block content %}
    <h1>Edit Car: {{ car.maker_name }} {{ car.model }}</h1>
<form method="POST" action="{{ url_for('car.edit_car', car_id=car.id) }}">
    {% for key, value in car.items() %}
        {% if key != 'id' and key != 'links' %}
            <div class="form-group">
                <label for="{{ key }}">{{ key|title }}</label>
                <input type="text" class="form-control" id="{{ key }}" name="{{ key }}" value="{{ value }}">
            </div>
        {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary">Update</button>
</form>

    <a href="{{ url_for('car.delete_car', car_id=car.id) }}" onclick="return confirm('Are you sure you want to delete this car?')">Delete Car</a>
{% endblock %}